<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/home">myFridge</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/login" ng-click='logout2()'><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
    </div>
</nav>

<div ng-if="!vm.hasFridge" class="col-sm-3 col-md-3">
<form name="form" ng-submit="vm.addFridgeToDatabase()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="fridgeId">Fridge id</label>
            <input type="number" name="fridgeId" id="fridgeId" class="form-control" ng-model="vm.fridgeId" required />
            <span ng-show="form.fridgeId.$dirty && form.fridgeId.$error.required" class="help-block">Fridge id is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Add fridge</button>

        </div>
 </form>
</div>

<div ng-if='vm.hasFridge'>

    <div class="col-sm-3 col-md-6">

<h3>This is the content of your fridge:</h3>

<table class = "table-striped">
    <label for="search">Search for groceries:</label><input id="search" type="text" ng-model="search">
    <tr>
        <th>Grocery</th>
        <th>Amount</th>
        <th>Best before</th>
        <th>Remove?</th>
    </tr>
    <tr ng-repeat="item in vm.items | filter:search">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.best_before}}</td>
        <td><button type="button" class="close" aria-label="Close" ng-click="vm.remove_grocery_from_database($index)"><span aria-hidden="true">&times;</span></button></td>
    </tr>
</table>


    <div class="col-sm-3 col-md-6">

<h3>Something missing?</h3>

    <form name="form" ng-submit="vm.add_groceries_to_database()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.grocery.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.amount.$dirty && form.amount.$error.required }">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" class="form-control" ng-model="vm.grocery.amount" required />
            <span ng-show="form.amount.$dirty && form.amount.$error.required" class="help-block">Amount is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.bestBefore.$dirty && form.bestBefore.$error.required }">
            <label for="bestBefore">Best before</label>
            <input type="text" name="bestBefore" id="bestBefore" class="form-control" ng-model="vm.grocery.bestBefore" required />
            <span ng-show="form.bestBefore.$dirty && form.bestBefore.$error.required" class="help-block">Best before is required</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Add</button>

        </div>
    </form>
</div>

</div>
    <div class="col-sm-9 col-md-3" id="recipeContent">
<button class="btn btn-primary" ng-click="vm.getRecipeTitles()">What can I cook?</button>

    <a ng-click="vm.getRecipeDetailed($index)" ng-repeat="title in vm.titles">

        <li ng-click= "showdiv()" class="list-group-item">{{title}}</li>
    </a>

<!--<div id="d">-->
    <!--<div ng-if='enableCustomerDirective'><h3>{{vm.recipeDetailed.title}}</h3>-->
        <!--<p>Preparation time: {{vm.recipeDetailed.preparation_time}}</p>-->
        <!--<p>Instructions: {{vm.recipeDetailed.instructions}}</p>-->
        <!--<p>Ingredients:</p>-->
        <!--<li ng-repeat="ingredient in vm.recipeDetailed.groceries">{{ingredient.amount}} {{ingredient.name}}</li></div>-->
<!--</div>-->
</div>
</div>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{recipeDetailed.title}}">{{recipeDetailed.title}}</h3>
        </div>
        <div class="modal-body" id="modal-body">

        <p>Preparation time: {{recipeDetailed.preparation_time}}</p>
        <p>Instructions: {{recipeDetailed.instructions}}</p>
        <p>Ingredients:</p>
        <li ng-repeat="ingredient in recipeDetailed.groceries">{{ingredient.amount}} {{ingredient.name}}</li></div>

        </div>
        <div class="modal-footer">
        </div>
</script>
<hr>
<hr>
<hr>